@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}
header.main.header {
  display: flex;
  padding: 20px;
  justify-content: center;
  h1 {
    flex: 2;
    text-align: right;
  }
  div {
    flex: 1;
    text-align: right;
  }
}

nav.main.nav {
  color: yellow;
  background-color: black;
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
    li {
      padding: 10px;
    }
  }
}
