section.gallery {
  width: 90%;
  margin: 10px auto;
}

section.gallery.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
}

.gallery.card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    max-height: 200px;
  }
  div {
    flex: 1;
  }
  .gallery.subject {
    color: white;
    background-color: #8a83e1;
  }
}
